.diseño{
  padding-left: 100px;
  color: #fff;
  width: 500px;
}
body{
  color:#fff;
   background:url(../img/fondos.jpg);
}
.error{
  padding-left: 100px;
  color: #fff;
}
.definicion{
  padding-left: 100px;
  color: #fff;
}
.caracteristicas{
  padding-left: 100px;
  color: #fff;
}
.redes{
  padding-left: 100px;
  color: #fff;
}
.dife{
  color: #fff;
}
.hola{
  padding-left: 100px;
  color: #fff;
  width: 500px;
}
.pregunta{
  padding-left: 100px;
  color: #fff;
}
.dise{
  padding-left: 100px;
  width: 500px;
  color: #fff;
}
.adaptivo{
  padding-left: 100px;
  width: 500px;
  color: #fff;
}
.parrafo{
  padding-left: 100px;
  color: #fff;
  width: 500px;
}
.inconveniente{
  padding-left: 100px;
  color: #fff;
}
.inco{
  padding-left: 0px;
  color: #fff;
}